<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>chat</title>
  </head>
  

<link rel="stylesheet"  href="/fronttend/css/register.css">

<div ng-controller="controller">
 <div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		
		<form class="form">
			<input type="text" ng-model="username" placeholder="Username" reqired>
			<input type="email" ng-model="email" placeholder="Email" required>
			<input type="password" ng-model="password" placeholder="Password" required>
			<input type="mobileno" ng-model="mobileno" placeholder="Mobileno" required>
			<button type="submit" id="login-button" ng-click="registerr()">Sign Up</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
     
  
</div>
</html>

     
        <!-- <h1>Sign Up</h1>
            <label for="username">UserName:</label>
          <input type="text" id="username" ng-model="username" name="username" required="required">
          
          <label for="email">Email:</label>
          <input type="email" ng-model="email" name="email" required="required">
          
          <label for="password">Password:</label>
          <input type="password" id="password" ng-model="password"  required="required">
          
           <label for="mobileno">MobileNo:</label>
          <input type="mobileno" id="mobileno" ng-model="mobileno" required="required">
        
        
        
        <button type="submit" ng-click ="registerr()">Sign Up</button> -->
   
